body {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 16px;
    display: block;
}
a:link {
  color: rgb(68, 72, 109);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(228, 111, 111);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(243, 7, 105);
  background-color: transparent;
  text-decoration: underline;
}

.centered {
    text-align: center;
    padding-top: 2em;
}

.rounded {
    border-radius: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

footer {
    background-color: white;
    padding: 10px 200px 0 200px;
    text-align: right;
    color: black;
}
#footer {
    margin-top: 50px;
    
}

hr.new3 {
    border-top: 2px dotted black;
    margin-left: 198px;
    margin-right: 198px;
  }
    
